################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Project/MySweeper
/正課/CS3005301W08/.vs/CS3005301W08
